a {
  color: black;
  text-decoration: none;
}

.crumps {
  display: inline-flex;
  flex-direction: row;
  gap: 5px;
}

.crumps > a:not(.active) {
  color: var(--accent-color);
}

.crumps > a:not(.active)::after {
  content: ' >';
  color: var(--accent-color);
}

.crumps > a.active {
  color: var(--primary-color);
  text-decoration: underline;
}
