.hero {
  display: block;
  position: relative;
  width: 100%;
  container: hero-cnt / inline-size;
}

.carousel {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  transition: 200ms;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel-buttons {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.carousel-buttons > a {
  transition: ease 200ms;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--white-color);
}

.carousel-buttons > a:first-child {
  background-color: var(--primary-color);
}

.carousel-buttons > a:hover {
  cursor: pointer;
  background-color: var(--accent-color);
}

.carousel::-webkit-scrollbar {
  display: none;
}

.image {
  scroll-snap-align: start;
  width: 100%;
  height: auto;
  object-fit: cover;
  background-position: start;
  flex: 0 0 calc(100%);
}

.image::scroll-marker {
  content: '';
  height: 1rem;
  width: 1rem;
  background-color: red;
  border-radius: 50%;
  z-index: 999;
}

.content {
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 15px;
  top: 50%;
  translate: 0px -50%;
}

.heading {
  all: unset;
  width: 15rem;
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 1rem;
  font-weight: 500;
}

.text-main {
  all: unset;
  width: 25rem;
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 700;
}

@container hero-cnt (width < 1100px) {
  * {
    display: none;
  }

  .content {
    display: none;
  }
}
