a {
  all: unset;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.heading {
  all: unset;
  color: var(--accent-color);
  font-size: 2rem;

  strong {
    color: var(--primary-color);
  }
}

.booties {
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
