.wrapper {
  background: url("../../../img2/booties.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  padding: 20px 0;
  container: news-cnt / inline-size;
}

.heading {
  margin: 0;
}

.paragraph {
  color: hsl(from var(--grey-color) h s calc(l - 60));
  opacity: 1;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (width < 1200px) {
  .wrapper {
    display: none;
  }
}
