.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  container: navbar-cnt / inline-size;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.options img {
  height: 35px;
  width: auto;
}

.icon {
  height: 1rem;
  width: 1rem;
}

.sections {
  display: flex;
  flex-direction: row;
}

.section {
  transition: ease 200ms;
  flex: 1;
  box-sizing: border-box;
  padding: 15px 20px;
  border: 1px solid var(--grey-color);
  color: var(--grey-color);

  display: inline-flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  font-size: clamp(0.6rem, 2vw, 0.7rem);
}

.section:hover {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  font-weight: 600;
  cursor: pointer;
}

a {
  all: unset;
  cursor: pointer;
}

@container navbar-cnt (width < 700px) {
  .options x-input {
    display: none;
  }

  .sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .sections .section:last-child {
    display: none;
  }

}

@container navbar-cnt (width < 400px) {
  .sections {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
