.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.active-image {
  border: 2px solid var(--grey-color);
}

.images {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

::slotted(img) {
  position: relative;
  width: calc(100% / 3);
  border: 2px solid var(--grey-color);
  transition: ease 200ms;
}

::slotted(img.selected) {
  border: 2px solid var(--primary-color);
}

::slotted(img:hover) {
  border: 2px solid var(--accent-color);
  cursor: pointer;
}
