:root {
  font-family: "Libre Franklin";
  --max-width: 1300px;

  --accent-color: #c7232e;
  --primary-color: #2f3f67;
  --white-color: #ffffff;
  --grey-color: #dcdcdc;

  --text-hover: #00000040;
}

html {
  font-size: 24px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > * {
  width: 100%;
}

.container {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0px;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: stretch;
}

.container > * {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
