div {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  box-sizing: border-box;
  border: 2px solid var(--grey-color);
  padding: 15px 20px;
  font-size: 0.8rem;
  transition: ease 200ms;
}

input {
  border: none;
  outline: none;
  font-size: 0.8rem;
}

.full-width {
  width: 100%;
}

div:has(input:focus) {
  outline: none;
  border: 2px solid var(--accent-color);
}

input:invalid {
  color: var(--accent-color);
}
