button {
  all: unset;
  background-color: var(--white-color);
  border: 2px solid var(--accent-color);
  color: var(--primary-color);
  box-sizing: border-box;
  padding: 15px 20px;
  font-size: 0.8rem;
  transition: ease 200ms;
}

button:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
  outline: 1px solid var(--accent-color);
  cursor: pointer;
}
