.card {
  height: 100%;
  border: 2px solid var(--grey-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: stretch;
  box-sizing: border-box;
  padding-bottom: 15px;
  position: relative;
  transition: ease 200ms;
}

.card::after {
  content: '';
  position: absolute;
  right: 10px;
  bottom: 10px;

  width: 50px;
  height: 50px;
  background: url("../../../img/cart.png");
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.card:hover {
  outline: 1px solid var(--accent-color);
  cursor: pointer;
  box-shadow: 4px 15px 15px #00000040;
  translate: 0px -10px;
}

.card:hover::after {
  display: block;
}

.card > *:not(:first-child) {
  padding: 0 10px;
}

.name {
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary-color);
}

.prices {
  display: inline-flex;
  flex-direction: row-reverse;
  align-self: start;
  gap: 10px;
}

.new-price {
  font-weight: 600;
  color: var(--accent-color);
}

.old-price {
  color: var(--grey-color);
  text-decoration: line-through;
}

.slide-in {
  animation: forwards ease 600ms slide-in;
}

@keyframes slide-in {
  from {
    transform: translateX(50px);
    opacity: 0;
  } to {
    transform: translateX(0px);
    opacity: 1;
  }
}
