a {
  all: unset;
}

.container {
  container: motivation-cnt / inline-size;
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding: 50px 0;
}

.item {
  flex: 1;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.text:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--accent-color);
}

.item img {
  position: relative;
  object-position: center;
}

.img-container {
  border-radius: 50%;
  background-color: var(--primary-color);
  padding: 15px;
  transition: ease 200ms;
}

.img-container:has(+ .text:hover) {
  background-color: var(--accent-color);
}

.text {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--primary-color);
  transition: ease 200ms;
}

@container motivation-cnt (width < 850px) {
  .wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
  }
}
