.container {
  width: 100%;
  container: category-cnt / inline-size;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card {
  position: relative;
  flex: 1;
}

.card .text {
  width: 60%;
  position: absolute;
  font-size: clamp(0.7rem, 2vw, 1rem);
  color: var(--primary-color);
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}

.card:nth-child(1) .text {
  width: 40%;
}

.card:nth-child(2) .text {
  color: var(--accent-color);
}

.card:hover {
  cursor: pointer;
}

.card:hover .text {
  text-decoration: underline;
}

@container category-cnt (width < 1200px) {
  .wrapper {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }

  .wrapper img {
    width: 100%;
  }
}
