.header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  box-sizing: border-box;
  padding: 15px 0px;
  container: header-cnt / inline-size;
}

.content {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.contacts .icon-text:not(:last-child)::after {
  right: -18px;
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: white;
}

.icon {
  height: calc(1rem + 4px);
  width: auto;
}

.icon-text {
  font-size: 1rem;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

a {
  all: unset;
  color: white;
}

a:hover {
  cursor: pointer;
  opacity: 0.7;
}

@container header-cnt (width < 1200px) {
  .content > .icon-text > a {
    display: none;
  }

  .content > .contacts .icon {
    display: none;
  }
}
