.container {
  container: footer-cnt / inline-size;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: var(--white-color);
  box-sizing: border-box;
}

.wrapper > section:nth-child(1) {
  flex: 2;
  box-sizing: border-box;
  background-color: var(--accent-color);
  padding-left: calc(calc(100% - var(--max-width)) / 2);
  padding-right: 20px;
  padding-bottom: 30px;

  display: flex;
  flex-direction: row;
  gap: 100px;
}

.wrapper > section:nth-child(2) {
  flex: 1;
  box-sizing: border-box;
  background-color: var(--primary-color);
  padding-right: calc(calc(100% - var(--max-width)) / 2);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.basic-info-wrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.basic-info-wrapper .info-heading {
  all: unset;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
}

.basic-info-wrapper .info-article {
  all: unset;
  max-width: 10rem;
  font-size: 0.6rem;
}

.basic-info-wrapper .info-img {
  width: 100px;
  filter: brightness(0) invert(1);
}

.offer-sections {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.offer-sections .section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.offer-sections .section .heading {
  all: unset;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: start;
}

.offer-sections .section .items {
  margin: 0;
  padding-left: 1rem;
  list-style: circle;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.offer-sections .section .items .item a {
  font-size: 0.7rem;
}

a {
  all: unset;
  color: var(--white-color);
  font-size: 0.7rem;
}

a:hover {
  cursor: pointer;
  opacity: 0.7;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-links .contact-item {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.socials {
  display: inline-flex;
  flex-direction: row;
  gap: 20px;
}

.icon {
  height: 0.8rem;
}

@container footer-cnt (width < 1200px) {
  .wrapper {
    flex-direction: column;
  }

  .wrapper > section:first-child {
    width: 100%;
    padding-left: 20px;
    flex-direction: column;
    gap: 30px;
  }

  .basic-info-wrapper {
    width: 100%;
  }

  .wrapper > section:first-child > .basic-info-wrapper > p.info-article {
    width: 100%;
  }
}
