.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  z-index: 10;
  background-color: var(--white-color);
  padding: 5px;
}

.line {
  z-index: 9;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: var(--grey-color);

  top: 50%;
  transform: translateY(-50%);
}
