.container {
  container: prod-sect-cnt / inline-size;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.info-wrapper > * {
  width: 50%;
}

.info-data-wrapper {
  display: flex;
  flex-direction: column;
}

.info-data-wrapper > section:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info-data-wrapper > section:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 2px solid var(--grey-color);
}

.info-data-wrapper > section:nth-child(1) { 
  & > .head {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    & > h3 {
      all: unset;
      margin: 0;
      font-size: 2.5rem;
      font-weight: 600;
      color: var(--primary-color);
      line-height: 3rem;
    }

    & > img {
      margin-top: 0.5rem;
      height: 2rem;
    }
  }

  & > p {
    color: var(--primary-color);
    opacity: 0.4;
    font-size: 0.8rem;
  }
}

.info-data-wrapper > section:nth-child(2) {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;

  & > .colors-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > span {
      color: var(--primary-color);
    }

    & > .radios {
      display: inline-flex;
      flex-direction: row;
      gap: 5px;

      & > .radio-wrapper > input {
        display: none;
      }

      & > .radio-wrapper:has(input:checked) .fake-radio {
        border-color: var(--accent-color);
      }

      & > .radio-wrapper > .fake-radio {
        transition: ease 100ms;
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border: 3px solid var(--grey-color);

        &:hover {
          cursor: pointer;
        }
      }

      & > .radio-wrapper:nth-child(1) .fake-radio {
        background-color: darkblue;
      }

      & > .radio-wrapper:nth-child(2) .fake-radio {
        background-color: black;
      }


      & > .radio-wrapper:nth-child(3) .fake-radio {
        background-color: crimson;
      }


      & > .radio-wrapper:nth-child(4) .fake-radio {
        background-color: blue;
      }


      & > .radio-wrapper:nth-child(5) .fake-radio {
        background-color: lime;
      }
    }
  }

  & > .sizes {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > span {
      color: var(--primary-color);
    }

    & > div {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      height: 1.5rem;
      gap: 10px;

      & > .size > input {
        display: none;
      }

      & > .size {
        color: var(--primary-color);
        font-size: 0.8rem;
      }

      & > .size label:hover {
        cursor: pointer;
      }

      & > .size:has(input:checked) label {
        font-weight: 900;
        color: var(--accent-color);
        text-decoration: underline;
      }

      & > .size:has(input:disabled) label {
        color: var(--grey-color);
        text-decoration: line-through;
      }

      & > .size:has(input:disabled) label:hover {
        cursor: not-allowed;
      }
    }
  }
}

.info-data-wrapper > section:nth-child(3) {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & > span {
    color: var(--primary-color);
    font-size: 1.5rem;
  }

  & > .actions {
    display: flex;
    flex-direction: row;
    align-items: end;

    & > * {
      width: 50%;
    }

    & > .prices {
      display: inline-flex;
      flex-direction: column;

      & > .old-price {
        color: var(--grey-color);
        text-decoration: line-through;
        font-size: 0.7rem;
      }

      & > .new-price {
        color: var(--accent-color);
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.5rem;
      }
    }
  }
}

.desc-wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;

  & > .prod-info-wrapper {

    display: flex;
    flex-direction: column;
    gap: 20px;

    & > h3 {
      all: unset;
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--primary-color);
    }

    & > div {
      display: flex;
      flex-direction: column;
      gap: 3px;

      & > h5 {
        all: unset;
        font-size: 1rem;
        font-weight: 500;
        color: var(--primary-color);
      }
    }

    & p {
      all: unset;
      color: var(--primary-color);
      font-size: 0.7rem;
      opacity: 0.6;
    }

    & > *:not(h3) {
      padding-left: 10px;
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  thead {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 0.8rem;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: var(--grey-color);
    }

    tr {
      td:nth-child(1) {
        width: 50%;
        color: var(--primary-color);
        font-weight: 400;
        font-size: 1rem;
        padding-left: 10px;
      }

      td:nth-child(2) {
        font-weight: 300;
        color: var(--primary-color);
        opacity: 0.8;
      }
    }
  }
}

@container prod-sect-cnt (width < 1200px) {
  .info-wrapper, .desc-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .info-data-wrapper {
    width: 100%;
  }

  .info-data-wrapper img {
    display: none;
  }

  .prod-info-wrapper {
    width: 100%;
  }

  .desc-wrapper > * {
    width: 100%;
  }
}
